# Comparing train and plane travel times

## Import libraries

In [2]:
import pandas as pd

## Import train times

In [3]:
trains = pd.read_csv('./datasets/Rail_transport_performance_in_Europe_2021.csv')
trains

,country_larger_city,HDC_code_larger,larger_city,pop_larger_city,country_smaller_city,HDC_code_smaller,smaller_city,pop_smaller_city,crossborder,distance_centroids,av_dist_opti,time_opti,speed_opti,av_dist_avt,time_avt,speed_avt
0,FR,GEOSTAT11_450,Paris,8900172,BE,GEOSTAT11_349,Bruxelles / Brussel,1233487,True,more than 120 km,260.8,1.44,182.1,261.6,1.71,153.5
1,FR,GEOSTAT11_450,Paris,8900172,FR,GEOSTAT11_361,Lille,911478,False,more than 120 km,202.0,1.00,202.1,201.9,1.29,157.3
2,FR,GEOSTAT11_450,Paris,8900172,FR,GEOSTAT11_418,Rouen,298297,False,114.6,110.0,1.24,88.7,110.0,1.67,65.9
3,FR,GEOSTAT11_450,Paris,8900172,FR,GEOSTAT11_434,Cergy-Pontoise,273138,False,30.6,4.8,0.07,67.9,4.8,0.17,27.9
4,FR,GEOSTAT11_450,Paris,8900172,FR,GEOSTAT11_499,Tours,211915,False,more than 120 km,187.7,0.86,218.2,200.4,1.54,130.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6594,HU,GEOSTAT11_506,Szolnok,51457,HU,GEOSTAT11_500,Érd,51285,False,99.6,NaN,NaN,NaN,NaN,NaN,NaN
6595,HU,GEOSTAT11_500,Érd,51285,HU,GEOSTAT11_516,Veszprém,50141,False,82.2,NaN,NaN,NaN,NaN,NaN,NaN
6596,IT,GEOSTAT11_770,Bitonto,50961,IT,GEOSTAT11_734,Manfredonia,50684,False,86.8,NaN,NaN,NaN,NaN,NaN,NaN
6597,IT,GEOSTAT11_770,Bitonto,50961,IT,GEOSTAT11_761,Cerignola,50074,False,68.5,NaN,NaN,NaN,NaN,NaN,NaN
6598,IT,GEOSTAT11_734,Manfredonia,50684,IT,GEOSTAT11_761,Cerignola,50074,False,40.5,NaN,NaN,NaN,NaN,NaN,NaN

## Import plane times

In [34]:
flights = pd.read_csv('./datasets/flight_times.csv')
flights

      Unnamed: 0           route   time
0              0  {'AAL', 'AMS'}   85.0
1              1  {'AAQ', 'LED'}  170.0
2              2  {'AMS', 'ABZ'}   85.0
3              3  {'ABZ', 'LGW'}   95.0
4              4  {'ACE', 'AGP'}  130.0
...          ...             ...    ...
1464        1464  {'ZRH', 'OTP'}  150.0
1465        1465  {'ZRH', 'PRN'}  127.5
1466        1466  {'ZRH', 'RVN'}  205.0
1467        1467  {'ZRH', 'STR'}   45.0
1468        1468  {'ZTH', 'ATH'}   62.5

[1469 rows x 3 columns]

In [35]:
flights.drop(flights.columns[0], axis=1, inplace=True)
flights

               route   time
0     {'AAL', 'AMS'}   85.0
1     {'AAQ', 'LED'}  170.0
2     {'AMS', 'ABZ'}   85.0
3     {'ABZ', 'LGW'}   95.0
4     {'ACE', 'AGP'}  130.0
...              ...    ...
1464  {'ZRH', 'OTP'}  150.0
1465  {'ZRH', 'PRN'}  127.5
1466  {'ZRH', 'RVN'}  205.0
1467  {'ZRH', 'STR'}   45.0
1468  {'ZTH', 'ATH'}   62.5

[1469 rows x 2 columns]

In [36]:
flights['departure airport'] = flights['route'].apply(lambda x: x.split(',')[0].strip("{'"))
flights['arrival airport'] = flights['route'].apply(lambda x: x.split(',')[1].strip(" }'"))
flights

               route   time departure airport arrival airport
0     {'AAL', 'AMS'}   85.0               AAL             AMS
1     {'AAQ', 'LED'}  170.0               AAQ             LED
2     {'AMS', 'ABZ'}   85.0               AMS             ABZ
3     {'ABZ', 'LGW'}   95.0               ABZ             LGW
4     {'ACE', 'AGP'}  130.0               ACE             AGP
...              ...    ...               ...             ...
1464  {'ZRH', 'OTP'}  150.0               ZRH             OTP
1465  {'ZRH', 'PRN'}  127.5               ZRH             PRN
1466  {'ZRH', 'RVN'}  205.0               ZRH             RVN
1467  {'ZRH', 'STR'}   45.0               ZRH             STR
1468  {'ZTH', 'ATH'}   62.5               ZTH             ATH

[1469 rows x 4 columns]

## Import airport codes

In [37]:
airports = pd.read_csv('./datasets/airport-codes.csv')
airports

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"
...,...,...,...,...,...,...,...,...,...,...,...,...
57416,ZYYK,medium_airport,Yingkou Lanqi Airport,0.0,AS,CN,CN-21,Yingkou,ZYYK,YKH,NaN,"122.3586, 40.542524"
57417,ZYYY,medium_airport,Shenyang Dongta Airport,NaN,AS,CN,CN-21,Shenyang,ZYYY,NaN,NaN,"123.49600219726562, 41.784400939941406"
57418,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,NaN,NaN,"1.4825, 51.894444"
57419,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,NaN,NaN,"47.296388888900005, -11.584277777799999"
57420,ZZZZ,small_airport,Satsuma IÅjima Airport,338.0,AS,JP,JP-46,Mishima-Mura,RJX7,NaN,RJX7,"130.270556, 30.784722"

In [38]:
cities = airports[['iata_code', 'municipality']]
cities

      iata_code      municipality
0           NaN          Bensalem
1           NaN             Leoti
2           NaN      Anchor Point
3           NaN           Harvest
4           NaN           Newport
...         ...               ...
57416       YKH           Yingkou
57417       NaN          Shenyang
57418       NaN           Sealand
57419       NaN  Grande Glorieuse
57420       NaN      Mishima-Mura

[57421 rows x 2 columns]

In [39]:
# add departure city names
flights = pd.merge(flights, cities, left_on='departure airport', right_on='iata_code', how='left')
# remove the redundant column
flights.drop('iata_code', axis=1, inplace=True)
# rename the column
flights.rename(columns={'municipality': 'departure city'}, inplace=True)
# add arrival city names
flights = pd.merge(flights, cities, left_on='arrival airport', right_on='iata_code', how='left')
# remove the redundant column
flights.drop('iata_code', axis=1, inplace=True)
# rename the column
flights.rename(columns={'municipality': 'arrival city'}, inplace=True)
flights

,route,time,departure airport,arrival airport,departure city,arrival city
0,"{'AAL', 'AMS'}",85.0,AAL,AMS,Aalborg,Amsterdam
1,"{'AAQ', 'LED'}",170.0,AAQ,LED,Anapa,St. Petersburg
2,"{'AMS', 'ABZ'}",85.0,AMS,ABZ,Amsterdam,Aberdeen
3,"{'ABZ', 'LGW'}",95.0,ABZ,LGW,Aberdeen,London
4,"{'ACE', 'AGP'}",130.0,ACE,AGP,Lanzarote Island,MÃ¡laga
...,...,...,...,...,...,...
1511,"{'ZRH', 'OTP'}",150.0,ZRH,OTP,Zurich,Bucharest
1512,"{'ZRH', 'PRN'}",127.5,ZRH,PRN,Zurich,Prishtina
1513,"{'ZRH', 'RVN'}",205.0,ZRH,RVN,Zurich,Rovaniemi
1514,"{'ZRH', 'STR'}",45.0,ZRH,STR,Zurich,Stuttgart
1515,"{'ZTH', 'ATH'}",62.5,ZTH,ATH,Zakynthos Island,Athens

Does the 'municipality' variable refer to the actual administrative division that the airport is located in, or the big city it's next to? Let's check.

In [40]:
flights[flights['departure city'].str.contains('London')]

,route,time,departure airport,arrival airport,departure city,arrival city
38,"{'LGW', 'AGP'}",165.0,LGW,AGP,London,MÃ¡laga
82,"{'LTN', 'AMS'}",70.0,LTN,AMS,London,Amsterdam
133,"{'LGW', 'BCN'}",125.0,LGW,BCN,London,Barcelona
301,"{'LTN', 'CLJ'}",175.0,LTN,CLJ,London,Cluj-Napoca
630,"{'LGW', 'JER'}",60.0,LGW,JER,London,Saint Helier
...,...,...,...,...,...,...
1240,"{'STN', 'VRN'}",122.5,STN,VRN,London,Verona
1241,"{'STN', 'WMI'}",135.0,STN,WMI,London,Warsaw
1242,"{'STN', 'WRO'}",125.0,STN,WRO,London,WrocÅaw
1243,"{'STN', 'ZAG'}",135.0,STN,ZAG,London,Zagreb
1244,"{'STN', 'ZAZ'}",132.5,STN,ZAZ,London,Zaragoza

Now we need to check that the train and plane datasets are using the same city names. We'll do this by checking that the city names in the plane dataset are a subset of the city names in the train dataset.

In [48]:
train_cities = set(trains['larger_city'].unique()) | set(trains['smaller_city'].unique())
print(f'Number of cities in the trains dataset: {len(train_cities)}')
train_cities

Number of cities in the trains dataset: 799

{"'s-Hertogenbosch",
 'A Coruña',
 'Aachen',
 'Aalborg',
 'Aberdeen',
 'Acerra',
 'Acireale',
 'Aix-en-Provence',
 'Albacete',
 'Alcalá de Guadaíra',
 'Alcalá de Henares',
 'Alcoi/Alcoy',
 'Aldwick / Felpham',
 'Alessandria',
 'Algeciras',
 'Alicante/Alacant',
 'Alkmaar',
 'Almada',
 'Almelo',
 'Almere',
 'Almería',
 'Alphen aan den Rijn',
 'Altamura',
 'Amersfoort',
 'Amiens',
 'Amora',
 'Amsterdam',
 'Ancona',
 'Andria',
 'Angers',
 'Annecy',
 'Antibes',
 'Antwerpen',
 'Anzio / Nettuno',
 'Apeldoorn',
 'Arad',
 'Arcozelo / Espinho',
 'Arezzo',
 'Arnhem',
 'Arras',
 'Ashford',
 'Assen',
 'Asti',
 'Augsburg',
 'Avellino',
 'Avignon',
 'Avilés',
 'Aylesbury',
 'Ayr / Prestwick',
 'Bacău',
 'Bad Soden am Taunus / Kelkheim',
 'Badajoz',
 'Bagheria',
 'Baia Mare',
 'Bamberg',
 'Bangor',
 'Banská Bystrica',
 'Barcelona',
 'Bari',
 'Barletta',
 'Barnsley',
 'Barreiro',
 'Basel',
 'Basildon',
 'Basingstoke and Deane',
 'Bath',
 'Battipaglia',
 'Bayonne',
 'Bayreuth',
 'Bedford',
 'Belchatow',
 'Belfast',
 'Belfort',
 'Benidorm',
 'Benrath',
 'Bergamo',
 'Bergen op Zoom',
 'Berlin',
 'Bern',
 'Besançon',
 'Beverwijk/Heemskerk',
 'Białystok',
 'Biel/Bienne',
 'Bielefeld',
 'Bielsko-Biała',
 'Bilbao',
 'Birmingham',
 'Bisceglie',
 'Bistrita',
 'Bitonto',
 'Blackburn with Darwen',
 'Blackpool',
 'Blagoevgrad',
 'Blanchardstown',
 'Blantyre / Hamilton',
 'Bocholt',
 'Bologna',
 'Bolzano',
 'Bonn',
 'Borås',
 'Botoşani',
 'Boulogne-sur-mer',
 'Bourges',
 'Bournemouth',
 'Bracknell',
 'Braga',
 'Bratislava',
 'Braunschweig',
 'Braşov',
 'Breda',
 'Bregenz',
 'Bremen',
 'Bremerhaven',
 'Brescia',
 'Brest',
 'Brighton',
 'Brindisi',
 'Bristol',
 'Brno',
 'Brugge',
 'Bruxelles / Brussel',
 'Brăila',
 'Bucureşti',
 'Budapest',
 'Burgas',
 'Burgos',
 'Burnley',
 'Burton-on-Trent',
 'Busto Arsizio',
 'Buzău',
 'Bydgoszcz',
 'Bârlad',
 'Béziers',
 'Caen',
 'Calais',
 'Cambridge',
 'Cannes',
 'Cannock / Hednesford',
 'Cardiff',
 'Carlisle',
 'Carpi',
 'Cartagena',
 'Caserta',
 'Castelldefels',
 'Castellón de la Plana/Castelló de la Plana',
 'Catania',
 'Cergy-Pontoise',
 'Cerignola',
 'Chambery',
 'Charleroi',
 'Chartres',
 'Chelmsford',
 'Cheltenham',
 'Chemnitz',
 'Cherbourg',
 'Chester',
 'Chesterfield',
 'Chełm',
 'Chiclana de la Frontera',
 'Chomutov / Jirkov',
 'Ciudad Real',
 'Clermont-Ferrand',
 'Cluj-Napoca',
 'Coatbridge',
 'Coimbra',
 'Colchester',
 'Collado Villalba',
 'Colmar',
 'Como',
 'Constanţa',
 'Corby',
 'Cork',
 'Coslada',
 'Cottbus',
 'Coventry',
 'Craiova',
 'Crawley',
 'Creil',
 'Cremona',
 'Crewe',
 'Cuenca',
 'Częstochowa',
 'Cáceres',
 'Cádiz',
 'Córdoba',
 'Călărași',
 'Dacorum',
 'Darlington',
 'Darmstadt',
 'Debrecen',
 'Delmenhorst',
 'Den Haag',
 'Derby',
 'Derry',
 'Deva',
 'Deventer',
 'Dijon',
 'Dobrich',
 'Doncaster',
 'Dordrecht',
 'Dos Hermanas',
 'Douai',
 'Dresden',
 'Drobeta-Turnu Severin',
 'Dublin',
 'Duisburg',
 'Dundee City',
 'Dunkerque',
 'Düren',
 'Düsseldorf',
 'East Kilbride',
 'Eastbourne',
 'Eastleigh',
 'Ede',
 'Edinburgh',
 'Eindhoven',
 "El Port de Sagunt / Canet d'En Berenguer",
 'El Prat de Llobregat',
 'Elbląg',
 'Elche/Elx',
 'Elda',
 'Ellesmere Port',
 'Enschede',
 'Erfurt',
 'Erlangen',
 'Esslingen am Neckar',
 'Exeter',
 'Ełk',
 'Falkirk',
 'Ferrara',
 'Ferrol',
 'Firenze',
 'Flensburg',
 'Focşani',
 'Foggia',
 'Forlì',
 'Frankfurt (Oder)',
 'Frankfurt am Main',
 'Freiburg im Breisgau',
 'Fribourg',
 'Frimley / Farnborough',
 'Fréjus',
 'Fuengirola',
 'Fuenlabrada',
 'Fürth',
 'Galaţi',
 'Gallarate',
 'Gandia',
 'Gdańsk',
 'Gdynia',
 'Gela',
 'Genova',
 'Gent',
 'Genève',
 'Gera',
 'Gevelsberg / Schwelm',
 'Gießen',
 'Gijón',
 'Girona',
 'Giurgiu',
 'Glasgow',
 'Gliwice',
 'Gloucester',
 'Gniezno',
 'Gorzów Wielkopolski',
 'Gouda',
 'Granada',
 'Granollers',
 'Gravesham',
 'Graz',
 'Great Yarmouth',
 'Greater Manchester',
 'Greater Nottingham',
 'Grenoble',
 'Greve / Ishøj',
 'Grimsby / Cleethorpes',
 'Groningen',
 'Grosseto',
 'Grudziądz',
 'Gröpelingen / Vegesack',
 'Guadalajara',
 'Guildford',
 'Gyõr',
 'Górnośląski Związek Metropolitalny',
 'Göppingen',
 'Görlitz',
 'Göteborg',
 'Göttingen',
 'Gütersloh',
 'Głogów',
 'Haarlem',
 'Haarlemmermeer',
 'Hagen',
 'Halifax',
 'Halle an der Saale',
 'Halton',
 'Hamburg',
 'Hamm',
 'Hanau',
 'Haninge',
 'Hannover',
 'Harburg',
 'Harlow',
 'Harrogate',
 'Hartlepool',
 'Haskovo',
 'Hastings',
 'Haunstetten',
 'Havířov',
 'Heerlen',
 'Heidelberg',
 'Heilbronn',
 'Helmond',
 'Helsingborg',
 'Helsinki',
 'Hengelo',
 'Hereford',
 'Herzogenrath',
 'Hildesheim',
 'Hilversum',
 'Hoorn',
 'Hrabuvka',
 'Hradec Králové',
 'Huddersfield',
 'Huelva',
 'Hunedoara',
 'Hyndburn',
 'Iaşi',
 'Igualada',
 'Ingolstadt',
 'Innsbruck',
 'Inowrocław',
 'Ipswich',
 'Irun',
 'Iserlohn',
 'Jastrzębie-Zdrój',
 'Jaén',
 'Jelenia Góra',
 'Jena',
 'Jerez de la Frontera',
 'Jyväskylä',
 'Kaiserslautern',
 'Kalisz',
 'Kapellen / Ekeren',
 'Karlsruhe',
 'Karviná',
 'Kassel',
 'Kasztelanka',
 'Kaunas',
 'Kavala',
 'Kecskemét',
 'Keighley',
 'Kempten (Allgäu)',
 'Kettering',
 'Kidderminster',
 'Kiel',
 'Kielce',
 'Kingston-upon-Hull',
 'Kladno',
 'Klagenfurt',
 'Klaipėda',
 'Koblenz',
 'Konstanz',
 'Koszalin',
 'Košice',
 'Kraków',
 'Krefeld',
 'Köln',
 'København',
 'La Louvière',
 'La Seyne-sur-Mer / Sanary-sur-Mer',
 'La Spezia',
 'Landshut',
 'Larisa',
 'Latina',
 'Lausanne',
 'Le Havre',
 'Le Mans',
 'Lecce',
 'Lecco',
 'Leeds / Bradford',
 'Leeuwarden',
 'Legionowo',
 'Legnica',
 'Leicester',
 'Leiden',
 'Leipzig',
 'Lelystad',
 'Lens',
 'Les Clayes-sous-Bois',
 'Leuven',
 'Leverkusen',
 'León',
 'Liberec',
 'Liepāja',
 'Lille',
 'Limerick',
 'Limoges',
 'Linares',
 'Lincoln',
 'Linköping',
 'Linz',
 'Lisboa',
 'Liverpool',
 'Livingston',
 'Livorno',
 'Liège',
 'Ljubljana',
 'Lleida',
 'Logroño',
 'London',
 'Lorca',
 'Lorient',
 'Loughborough',
 'Lubin',
 'Lublin',
 'Ludwigsburg',
 'Lugano',
 'Lugo',
 'Lund',
 'Luton',
 'Luxembourg',
 'Luzern',
 'Lyon',
 'Línea de la Concepción, La',
 'Lørenskog / Lillestrøm',
 'Lübeck',
 'Lüdenscheid',
 'Lüneburg',
 'Lünen',
 'Lütten Klein',
 'Maastricht',
 'Madrid',
 'Magdeburg',
 'Maidenhead',
 'Maidstone',
 'Mainz',
 'Majadahonda',
 'Malmö',
 'Manfredonia',
 'Mannheim/Ludwigshafen',
 'Manresa',
 'Mansfield',
 'Mantes en Yvelines',
 'Marbella',
 'Maribor',
 'Marl',
 'Marseille',
 'Martigues / Port-de-Bouc',
 'Martin',
 'Mataró',
 'Matera',
 'Maurepas / Montigny-le-Bretonneux',
 'Meaux',
 'Mechelen',
 'Medway',
 'Melun',
 'Messina',
 'Mestre',
 'Metz',
 'Mielec',
 'Milano',
 'Milton Keynes',
 'Miskolc',
 'Modena',
 'Moers / Rheinhausen',
 'Molfetta',
 'Mollet del Vallès',
 'Monaco',
 'Montpellier',
 'Most',
 'Motherwell / Wishaw',
 'Mulhouse',
 'Murcia',
 'Mysłowice',
 'Málaga',
 'Mérida',
 'Mönchengladbach',
 'München',
 'Münster',
 'Namur',
 'Nancy',
 'Nantes',
 'Napoli',
 'Neumünster',
 'Neuss',
 'Newcastle-under-Lyme',
 'Newport',
 'Nice',
 'Nieuwegein / IJsselstein',
 'Nijmegen',
 'Nimes',
 'Nitra',
 'Norrköping',
 'Northampton',
 'Norwich',
 'Novara',
 'Nowy Sącz',
 'Nuneaton',
 'Nyíregyháza',
 'Odense',
 'Oldenburg (Oldenburg)',
 'Olomouc',
 'Olsztyn',
 'Oostende',
 'Opole',
 'Oradea',
 'Orléans',
 'Osijek',
 'Oslo',
 'Osnabrück',
 'Oss',
 'Ostia',
 'Ostrava',
 'Ostrowiec Świętokrzyski',
 'Ostrów Wielkopolski',
 'Ourense',
 'Oviedo',
 'Oxford',
 'Pabianice',
 'Paderborn',
 'Padova',
 'Palencia',
 'Palermo',
 'Pamplona/Iruña',
 'Panevėžys',
 'Pardubice',
 'Paris',
 'Parla',
 'Parma',
 'Pau',
 'Pavia',
 'Pazardzhik',
 'Perpignan',
 'Perugia',
 'Pesaro',
 'Pescara',
 'Peterborough',
 'Pforzheim',
 'Piacenza',
 'Piatra Neamţ',
 'Pijnacker / Berkel en Rodenrijs',
 'Piotrków Trybunalski',
 'Pisa',
 'Piteşti',
 'Piła',
 'Plauen',
 'Pleven',
 'Ploieşti',
 'Plovdiv',
 'Plymouth',
 'Plzeň',
 'Poissy',
 'Poitiers',
 'Ponferrada',
 'Pontevedra',
 'Pordenone',
 'Porto',
 'Portsmouth',
 'Poruba',
 'Porz',
 'Potsdam',
 'Poznań',
 'Pozuelo de Alarcón',
 'Pozzuoli / Bacoli',
 'Praha',
 'Prato',
 'Preston',
 'Przemyśl',
 'Puerto de Santa María, El',
 'Purmerend',
 'Pécs',
 'Póvoa de Varzim',
 'Płock',
 'Quaregnon / Frameries',
 'Radom',
 'Ragusa',
 'Ravenna',
 'Reading',
 'Redditch',
 'Redhill / Reigate',
 'Regensburg',
 "Reggio nell'Emilia",
 'Reims',
 'Remscheid',
 'Rennes',
 'Reus',
 'Reutlingen',
 'Rijeka',
 'Rimini',
 'Roma',
 'Roosendaal',
 'Rosenheim',
 'Rostock',
 'Rotherham',
 'Rotterdam',
 'Rouen',
 'Rugby',
 'Ruhrgebiet',
 'Ruse',
 'Rustington',
 'Rybnik',
 'Rzeszów',
 'Rákosliget',
 'Râmnicu Vâlcea',
 'Rüsselsheim am Main',
 'Saarbrücken',
 'Sabadell',
 'Saint-Brieuc',
 'Saint-Etienne',
 'Saint-Quentin',
 'Salamanca',
 'Salerno',
 'Salzburg',
 'San Fernando',
 'San Giuseppe Vesuviano',
 'San Sebastián/Donostia',
 'San Severo',
 'Sanlúcar de Barrameda',
 'Sant Boi de Llobregat',
 'Sant Cugat del Vallès/Rubí',
 'Santa Monica',
 'Santander',
 'Santiago de Compostela',
 'Saronno',
 'Sassuolo',
 'Satu Mare',
 'Savona',
 'Schweinfurt',
 'Scunthorpe',
 'Sefton',
 'Serres',
 'Setúbal',
 'Sevilla',
 'Sfântu Gheorghe',
 'Shrewsbury',
 'Shumen',
 'Sibiu',
 'Siedlce',
 'Sindelfingen',
 'Siracusa',
 'Sittard-Geleen',
 'Slatina',
 'Sliven',
 'Slough',
 'Soest / Baarn',
 'Sofia',
 'Solingen / Wuppertal',
 'Southampton',
 'Southend-on-Sea',
 'Spijkenisse',
 'Split',
 'St Albans',
 'St. Gallen',
 'Stafford',
 'Stalowa Wola',
 'Stara Zagora',
 'Stargard Szczeciński',
 'Stevenage',
 'Stockholm',
 'Stockton-on-Tees',
 'Strasbourg',
 'Stuttgart',
 'Suceava',
 'Sutton in Ashfield',
 'Suwałki',
 'Swansea',
 'Swindon',
 'Swords / Malahide',
 'Szczecin',
 'Szeged',
 'Szolnok',
 'Szombathely',
 'Székesfehérvár',
 'Södertälje',
 'Słupsk',
 'Talavera de la Reina',
 'Tampere / Tammerfors',
 'Tamworth',
 'Tapiola / Niittykumpu',
 'Taranto',
 'Tarnów',
 'Tarragona',
 'Tatabánya',
 'Taunton',
 'Tczew',
 'Telford',
 'Terni',
 'Terrassa',
 'Thanet',
 'Thatcham',
 'Thessaloniki',
 'Thun',
 'Thurrock',
 'Tilburg',
 'Timişoara',
 'Toledo',
 'Tomares',
 'Tomaszów Mazowiecki',
 'Torbay',
 'Torino',
 'Torrejón de Ardoz',
 'Torrelavega',
 'Torremolinos',
 'Torrevieja',
 'Toruń',
 'Toulon',
 'Toulouse',
 'Tours',
 'Trani',
 'Trapani',
 'Trento',
 'Treviso',
 'Trier',
 'Trieste',
 'Trnava',
 'Troyes',
 'Tulcea',
 'Tunbridge Wells',
 'Tychy',
 'Tyneside conurbation',
 'Târgovişte',
 'Târgu Jiu',
 'Târgu Mureş',
 'Täby',
 'Tübingen',
 'Udine',
 'Ulm/Neu-Ulm',
 'Uppsala',
 'Utrecht',
 'Vaihingen / Möhringen',
 'Valdemoro',
 'Valence',
 'Valencia',
 'Valenciennes',
 'Valladolid',
 'Varese',
 'Varna',
 'Veenendaal',
 'Veliko Tarnovo',
 'Venezia',
 'Venlo',
 'Verona',
 'Verviers / Dison',
 'Veszprém',
 'Vicenza',
 'Vigo',
 'Viladecans',
 'Vilanova i la Geltrú',
 'Vilnius',
 'Vitoria/Gasteiz',
 'Vleuten / De Meern',
 'Volos',
 'Vratsa',
 'Västerås',
 'Wakefield',
 'Warrington',
 'Warszawa',
 'Warwick',
 'Washington',
 'Waveney',
 'Wałbrzych',
 'Weston-super-Mare',
 'Wien',
 'Wiesbaden',
 'Wigan / Skelmersdale',
 'Winterthur',
 'Woking',
 'Wolfsburg',
 'Worcester',
 'Worthing',
 'Wrocław',
 'Wycombe',
 'Würzburg',
 'Włocławek',
 'Yambol',
 'York',
 'Zadar',
 'Zagreb',
 'Zamora',
 'Zamość',
 'Zaragoza',
 'Zgierz',
 'Zielona Góra',
 'Zoetermeer',
 'Zwolle',
 'Zürich',
 'el Masnou',
 'Ávila',
 'Århus',
 'Érd',
 'Örebro',
 'Ústí nad Labem',
 'České Budějovice',
 'Łomża',
 'Łódź',
 'Świdnica',
 'Šiauliai',
 'Žilina'}

In [47]:
airport_cities = set(flights['departure city'].unique()) | set(flights['arrival city'].unique())
print(f'Number of cities in the flights dataset: {len(airport_cities)}')
airport_cities

Number of cities in the flights dataset: 299

{'Aalborg',
 'Aarhus',
 'Aberdeen',
 'Ajaccio/NapolÃ©on Bonaparte',
 'Alexandroupolis',
 'Alghero',
 'Alicante',
 'AlmerÃ\xada',
 'Amsterdam',
 'Anapa',
 'Ancona',
 'Andenes',
 'Archangelsk',
 'Astrakhan',
 'Athens',
 'BacÄ\x83u',
 'Baden-Baden',
 'Banja Luka',
 'Barcelona',
 'Bari',
 'Bastia/Poretta',
 'Beauvais/TillÃ©',
 'Belfast',
 'Belgrade',
 'Bergamo',
 'Bergen',
 'Beslan',
 'Bilbao',
 'Billund',
 'Birmingham',
 'BodÃ¸',
 'Bologna',
 'Bolzano',
 'Bordeaux/MÃ©rignac',
 'Bournemouth',
 'BraganÃ§a',
 'Bratislava',
 'Bremen',
 'Brindisi',
 'Bristol',
 'Brussels',
 'BrÃ¸nnÃ¸y',
 'Bucharest',
 'Budapest',
 'Bugulma',
 'Burgas',
 'Bydgoszcz',
 'BÃ¢le/Mulhouse',
 'BÃ©ziers/Vias',
 'Cagliari',
 'Calvi/Sainte-Catherine',
 'Cardiff',
 'Cascais',
 'CastellÃ³n de la Plana',
 'Castletown',
 'Catania',
 'ChambÃ©ry/Aix-les-Bains',
 'Cheboksary',
 'Chelyabinsk',
 'Cherepovets',
 'Chios Island',
 'Chita',
 'ChiÅ\x9finÄ\x83u',
 'Cluj-Napoca',
 'Cologne',
 'Copenhagen',
 'Corvera',
 'Craiova',
 'Crete Island',
 'Crotone',
 'Culleredo',
 'Debrecen',
 'Dortmund',
 'Dresden',
 'Dubrovnik',
 'DÃ¼sseldorf',
 'Edinburgh',
 'Eindhoven',
 'Evenes',
 'Faro',
 'Figari Sud-Corse',
 'Firenze',
 'FlorÃ¸',
 'Frankfurt am Main',
 'Fuerteventura Island',
 'Funchal',
 'GdaÅ\x84sk',
 'Gelendzhik',
 'Geneva',
 'Genova',
 'Gibraltar',
 'Girona',
 'Glasgow',
 'Goleniow',
 'Gothenburg',
 'Granada',
 'Graz',
 'Grozny',
 'Hadsel',
 'Hamburg',
 'Hannover',
 'Helsinki',
 'Hondarribia',
 'Horta',
 'IaÅ\x9fi',
 'Ibiza',
 'Innsbruck',
 'Inverness',
 'Ioannina',
 'Ivalo',
 'Ivanovo',
 'Izhevsk',
 'Jerez de la Forntera',
 'Kaliningrad',
 'Kaluga',
 'KarmÃ¸y',
 'Katowice',
 'Kaunas',
 'Kavala',
 'Kazan',
 'Kerkyra Island',
 'Kirkenes',
 'Kirov',
 'KittilÃ¤',
 'Kjevik',
 'Klagenfurt am WÃ¶rthersee',
 'Kos Island',
 'KoÅ¡ice',
 'KrakÃ³w',
 'Krasnodar',
 'Krasnoyarsk',
 'Kuopio / SiilinjÃ¤rvi',
 'Kuusamo',
 'Lamezia Terme (CZ)',
 'Lanzarote Island',
 'Leeds',
 'Leipzig',
 'Leknes',
 'Lille/Lesquin',
 'Lisbon',
 'Liverpool',
 'LiÃ¨ge',
 'Ljubljana',
 'London',
 'Lublin',
 'LuleÃ¥',
 'Luxembourg',
 'Lyon',
 'Maastricht',
 'Madrid',
 'Magnitogorsk',
 'Makhachkala',
 'MalmÃ¶',
 'Manchester',
 'Marseille',
 'Melilla',
 'Memmingen',
 'Menorca Island',
 'Milan',
 'Mineralnyye Vody',
 'Minsk',
 'Montpellier/MÃ©diterranÃ©e',
 'Moscow',
 'Munich',
 'Murmansk',
 'Mykonos Island',
 'Mytilene',
 'MÃ¡laga',
 'MÃ¼nster',
 'Nantes',
 'Naryan Mar',
 'Newcastle',
 'Newquay',
 'Nice',
 'Nis',
 'Nizhnekamsk',
 'Nizhny Novgorod',
 'Norwich',
 'Nottingham',
 'Novokuznetsk',
 'Nuremberg',
 'NÃ¡poli',
 'Ohrid',
 'Olbia (SS)',
 'Olsztyn',
 'Oradea',
 'Orenburg',
 'Orsk',
 'Oslo',
 'Oulu / Oulunsalo',
 'Palanga',
 'Palermo',
 'Pamplona',
 'Paris',
 'Parma',
 'Penza',
 'Perm',
 'Perugia',
 'Pescara',
 'Petrozavodsk',
 'Pico Island',
 'Pisa',
 'Podgorica',
 'Ponta Delgada',
 'Porto',
 'PoznaÅ\x84',
 'Prague',
 'Praia da VitÃ³ria',
 'Prishtina',
 'Pskov',
 'Pula',
 'Radom',
 'RanÃ³n',
 'Reggio Calabria',
 'Riga',
 'Rodes Island',
 'Rome',
 'Rotterdam',
 'Rovaniemi',
 'RzeszÃ³w',
 'Sabetta',
 'Saint Anne',
 'Saint Helier',
 'Saint Peter Port',
 'Saint-Ã\x89tienne-de-Saint-Geoirs',
 'Salzburg',
 'Samara',
 'Samos Island',
 'Santander',
 'Santiago de Compostela',
 'Santorini Island',
 'Sarajevo',
 'Sevilla',
 'Sibiu',
 'Simferopol',
 'Skopje',
 'Sochi',
 'Sofia',
 'Souda',
 'Southampton',
 'Southend',
 'Split',
 'St. Petersburg',
 'Sta Cruz de la Palma, La Palma Island',
 'Stavanger',
 'Stavropol',
 'Stockholm',
 'Stockholm / NykÃ¶ping',
 'Stornoway',
 'Stuttgart',
 'Suceava',
 'SvolvÃ¦r',
 'Syktyvkar',
 'Tallinn',
 'Tampere / Pirkkala',
 'Tarbes/Lourdes/PyrÃ©nÃ©es',
 'Thessaloniki',
 'TimiÅ\x9foara',
 'Tirana',
 'Tivat',
 'Torino',
 'Torp',
 'Toulouse/Blagnac',
 'Tours/Val de Loire (Loire Valley)',
 'Treviso',
 'Trieste',
 'TromsÃ¸',
 'Trondheim',
 'Tuzla',
 'Ufa',
 'Ulyanovsk',
 'UmeÃ¥',
 'Vaasa',
 'VadsÃ¸',
 'Vagar',
 'Valencia',
 'Valletta',
 'Varna',
 'Venice',
 'Verona',
 'Vienna',
 'Vigo',
 'Vila Baleira',
 'Vila Real',
 'Vila do Porto',
 'Vilnius',
 'Viseu',
 'Volgograd',
 'Voronezh',
 'Warsaw',
 'Weeze',
 'WrocÅ\x82aw',
 'Zagreb',
 'Zakynthos Island',
 'Zaragoza',
 'Zurich',
 nan,
 'Ã\x85lesund',
 'Å\x81Ã³dÅº'}

Which cities are in the airport dataset but not the train dataset?

In [50]:
len(airport_cities - train_cities)

211

211 out of 299 is a lot...

In [51]:
airport_cities - train_cities

{'Aarhus',
 'Ajaccio/NapolÃ©on Bonaparte',
 'Alexandroupolis',
 'Alghero',
 'Alicante',
 'AlmerÃ\xada',
 'Anapa',
 'Andenes',
 'Archangelsk',
 'Astrakhan',
 'Athens',
 'BacÄ\x83u',
 'Baden-Baden',
 'Banja Luka',
 'Bastia/Poretta',
 'Beauvais/TillÃ©',
 'Belgrade',
 'Bergen',
 'Beslan',
 'Billund',
 'BodÃ¸',
 'Bordeaux/MÃ©rignac',
 'BraganÃ§a',
 'Brussels',
 'BrÃ¸nnÃ¸y',
 'Bucharest',
 'Bugulma',
 'BÃ¢le/Mulhouse',
 'BÃ©ziers/Vias',
 'Cagliari',
 'Calvi/Sainte-Catherine',
 'Cascais',
 'CastellÃ³n de la Plana',
 'Castletown',
 'ChambÃ©ry/Aix-les-Bains',
 'Cheboksary',
 'Chelyabinsk',
 'Cherepovets',
 'Chios Island',
 'Chita',
 'ChiÅ\x9finÄ\x83u',
 'Cologne',
 'Copenhagen',
 'Corvera',
 'Crete Island',
 'Crotone',
 'Culleredo',
 'Dortmund',
 'Dubrovnik',
 'DÃ¼sseldorf',
 'Evenes',
 'Faro',
 'Figari Sud-Corse',
 'FlorÃ¸',
 'Fuerteventura Island',
 'Funchal',
 'GdaÅ\x84sk',
 'Gelendzhik',
 'Geneva',
 'Gibraltar',
 'Goleniow',
 'Gothenburg',
 'Grozny',
 'Hadsel',
 'Hondarribia',
 'Horta',
 'IaÅ\x9fi',
 'Ibiza',
 'Inverness',
 'Ioannina',
 'Ivalo',
 'Ivanovo',
 'Izhevsk',
 'Jerez de la Forntera',
 'Kaliningrad',
 'Kaluga',
 'KarmÃ¸y',
 'Katowice',
 'Kazan',
 'Kerkyra Island',
 'Kirkenes',
 'Kirov',
 'KittilÃ¤',
 'Kjevik',
 'Klagenfurt am WÃ¶rthersee',
 'Kos Island',
 'KoÅ¡ice',
 'KrakÃ³w',
 'Krasnodar',
 'Krasnoyarsk',
 'Kuopio / SiilinjÃ¤rvi',
 'Kuusamo',
 'Lamezia Terme (CZ)',
 'Lanzarote Island',
 'Leeds',
 'Leknes',
 'Lille/Lesquin',
 'Lisbon',
 'LiÃ¨ge',
 'LuleÃ¥',
 'Magnitogorsk',
 'Makhachkala',
 'MalmÃ¶',
 'Manchester',
 'Melilla',
 'Memmingen',
 'Menorca Island',
 'Milan',
 'Mineralnyye Vody',
 'Minsk',
 'Montpellier/MÃ©diterranÃ©e',
 'Moscow',
 'Munich',
 'Murmansk',
 'Mykonos Island',
 'Mytilene',
 'MÃ¡laga',
 'MÃ¼nster',
 'Naryan Mar',
 'Newcastle',
 'Newquay',
 'Nis',
 'Nizhnekamsk',
 'Nizhny Novgorod',
 'Nottingham',
 'Novokuznetsk',
 'Nuremberg',
 'NÃ¡poli',
 'Ohrid',
 'Olbia (SS)',
 'Orenburg',
 'Orsk',
 'Oulu / Oulunsalo',
 'Palanga',
 'Pamplona',
 'Penza',
 'Perm',
 'Petrozavodsk',
 'Pico Island',
 'Podgorica',
 'Ponta Delgada',
 'PoznaÅ\x84',
 'Prague',
 'Praia da VitÃ³ria',
 'Prishtina',
 'Pskov',
 'Pula',
 'RanÃ³n',
 'Reggio Calabria',
 'Riga',
 'Rodes Island',
 'Rome',
 'Rovaniemi',
 'RzeszÃ³w',
 'Sabetta',
 'Saint Anne',
 'Saint Helier',
 'Saint Peter Port',
 'Saint-Ã\x89tienne-de-Saint-Geoirs',
 'Samara',
 'Samos Island',
 'Santorini Island',
 'Sarajevo',
 'Simferopol',
 'Skopje',
 'Sochi',
 'Souda',
 'Southend',
 'St. Petersburg',
 'Sta Cruz de la Palma, La Palma Island',
 'Stavanger',
 'Stavropol',
 'Stockholm / NykÃ¶ping',
 'Stornoway',
 'SvolvÃ¦r',
 'Syktyvkar',
 'Tallinn',
 'Tampere / Pirkkala',
 'Tarbes/Lourdes/PyrÃ©nÃ©es',
 'TimiÅ\x9foara',
 'Tirana',
 'Tivat',
 'Torp',
 'Toulouse/Blagnac',
 'Tours/Val de Loire (Loire Valley)',
 'TromsÃ¸',
 'Trondheim',
 'Tuzla',
 'Ufa',
 'Ulyanovsk',
 'UmeÃ¥',
 'Vaasa',
 'VadsÃ¸',
 'Vagar',
 'Valletta',
 'Venice',
 'Vienna',
 'Vila Baleira',
 'Vila Real',
 'Vila do Porto',
 'Viseu',
 'Volgograd',
 'Voronezh',
 'Warsaw',
 'Weeze',
 'WrocÅ\x82aw',
 'Zakynthos Island',
 'Zurich',
 nan,
 'Ã\x85lesund',
 'Å\x81Ã³dÅº'}

In [46]:
'Genève' in train_cities

True