# Comparing train and plane travel times

## Import libraries

In [2]:
import pandas as pd

## Import train times

In [3]:
trains = pd.read_csv('./datasets/Rail_transport_performance_in_Europe_2021.csv')
trains

,country_larger_city,HDC_code_larger,larger_city,pop_larger_city,country_smaller_city,HDC_code_smaller,smaller_city,pop_smaller_city,crossborder,distance_centroids,av_dist_opti,time_opti,speed_opti,av_dist_avt,time_avt,speed_avt
0,FR,GEOSTAT11_450,Paris,8900172,BE,GEOSTAT11_349,Bruxelles / Brussel,1233487,True,more than 120 km,260.8,1.44,182.1,261.6,1.71,153.5
1,FR,GEOSTAT11_450,Paris,8900172,FR,GEOSTAT11_361,Lille,911478,False,more than 120 km,202.0,1.00,202.1,201.9,1.29,157.3
2,FR,GEOSTAT11_450,Paris,8900172,FR,GEOSTAT11_418,Rouen,298297,False,114.6,110.0,1.24,88.7,110.0,1.67,65.9
3,FR,GEOSTAT11_450,Paris,8900172,FR,GEOSTAT11_434,Cergy-Pontoise,273138,False,30.6,4.8,0.07,67.9,4.8,0.17,27.9
4,FR,GEOSTAT11_450,Paris,8900172,FR,GEOSTAT11_499,Tours,211915,False,more than 120 km,187.7,0.86,218.2,200.4,1.54,130.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6594,HU,GEOSTAT11_506,Szolnok,51457,HU,GEOSTAT11_500,Érd,51285,False,99.6,NaN,NaN,NaN,NaN,NaN,NaN
6595,HU,GEOSTAT11_500,Érd,51285,HU,GEOSTAT11_516,Veszprém,50141,False,82.2,NaN,NaN,NaN,NaN,NaN,NaN
6596,IT,GEOSTAT11_770,Bitonto,50961,IT,GEOSTAT11_734,Manfredonia,50684,False,86.8,NaN,NaN,NaN,NaN,NaN,NaN
6597,IT,GEOSTAT11_770,Bitonto,50961,IT,GEOSTAT11_761,Cerignola,50074,False,68.5,NaN,NaN,NaN,NaN,NaN,NaN
6598,IT,GEOSTAT11_734,Manfredonia,50684,IT,GEOSTAT11_761,Cerignola,50074,False,40.5,NaN,NaN,NaN,NaN,NaN,NaN

## Import plane times

In [34]:
flights = pd.read_csv('./datasets/flight_times.csv')
flights

      Unnamed: 0           route   time
0              0  {'AAL', 'AMS'}   85.0
1              1  {'AAQ', 'LED'}  170.0
2              2  {'AMS', 'ABZ'}   85.0
3              3  {'ABZ', 'LGW'}   95.0
4              4  {'ACE', 'AGP'}  130.0
...          ...             ...    ...
1464        1464  {'ZRH', 'OTP'}  150.0
1465        1465  {'ZRH', 'PRN'}  127.5
1466        1466  {'ZRH', 'RVN'}  205.0
1467        1467  {'ZRH', 'STR'}   45.0
1468        1468  {'ZTH', 'ATH'}   62.5

[1469 rows x 3 columns]

In [35]:
flights.drop(flights.columns[0], axis=1, inplace=True)
flights

               route   time
0     {'AAL', 'AMS'}   85.0
1     {'AAQ', 'LED'}  170.0
2     {'AMS', 'ABZ'}   85.0
3     {'ABZ', 'LGW'}   95.0
4     {'ACE', 'AGP'}  130.0
...              ...    ...
1464  {'ZRH', 'OTP'}  150.0
1465  {'ZRH', 'PRN'}  127.5
1466  {'ZRH', 'RVN'}  205.0
1467  {'ZRH', 'STR'}   45.0
1468  {'ZTH', 'ATH'}   62.5

[1469 rows x 2 columns]

In [36]:
flights['departure airport'] = flights['route'].apply(lambda x: x.split(',')[0].strip("{'"))
flights['arrival airport'] = flights['route'].apply(lambda x: x.split(',')[1].strip(" }'"))
flights

               route   time departure airport arrival airport
0     {'AAL', 'AMS'}   85.0               AAL             AMS
1     {'AAQ', 'LED'}  170.0               AAQ             LED
2     {'AMS', 'ABZ'}   85.0               AMS             ABZ
3     {'ABZ', 'LGW'}   95.0               ABZ             LGW
4     {'ACE', 'AGP'}  130.0               ACE             AGP
...              ...    ...               ...             ...
1464  {'ZRH', 'OTP'}  150.0               ZRH             OTP
1465  {'ZRH', 'PRN'}  127.5               ZRH             PRN
1466  {'ZRH', 'RVN'}  205.0               ZRH             RVN
1467  {'ZRH', 'STR'}   45.0               ZRH             STR
1468  {'ZTH', 'ATH'}   62.5               ZTH             ATH

[1469 rows x 4 columns]

## Import airport codes

In [37]:
airports = pd.read_csv('./datasets/airport-codes.csv')
airports

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"
...,...,...,...,...,...,...,...,...,...,...,...,...
57416,ZYYK,medium_airport,Yingkou Lanqi Airport,0.0,AS,CN,CN-21,Yingkou,ZYYK,YKH,NaN,"122.3586, 40.542524"
57417,ZYYY,medium_airport,Shenyang Dongta Airport,NaN,AS,CN,CN-21,Shenyang,ZYYY,NaN,NaN,"123.49600219726562, 41.784400939941406"
57418,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,NaN,NaN,"1.4825, 51.894444"
57419,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,NaN,NaN,"47.296388888900005, -11.584277777799999"
57420,ZZZZ,small_airport,Satsuma IÅjima Airport,338.0,AS,JP,JP-46,Mishima-Mura,RJX7,NaN,RJX7,"130.270556, 30.784722"

In [38]:
cities = airports[['iata_code', 'municipality']]
cities

      iata_code      municipality
0           NaN          Bensalem
1           NaN             Leoti
2           NaN      Anchor Point
3           NaN           Harvest
4           NaN           Newport
...         ...               ...
57416       YKH           Yingkou
57417       NaN          Shenyang
57418       NaN           Sealand
57419       NaN  Grande Glorieuse
57420       NaN      Mishima-Mura

[57421 rows x 2 columns]

In [39]:
# add departure city names
flights = pd.merge(flights, cities, left_on='departure airport', right_on='iata_code', how='left')
# remove the redundant column
flights.drop('iata_code', axis=1, inplace=True)
# rename the column
flights.rename(columns={'municipality': 'departure city'}, inplace=True)
# add arrival city names
flights = pd.merge(flights, cities, left_on='arrival airport', right_on='iata_code', how='left')
# remove the redundant column
flights.drop('iata_code', axis=1, inplace=True)
# rename the column
flights.rename(columns={'municipality': 'arrival city'}, inplace=True)
flights

,route,time,departure airport,arrival airport,departure city,arrival city
0,"{'AAL', 'AMS'}",85.0,AAL,AMS,Aalborg,Amsterdam
1,"{'AAQ', 'LED'}",170.0,AAQ,LED,Anapa,St. Petersburg
2,"{'AMS', 'ABZ'}",85.0,AMS,ABZ,Amsterdam,Aberdeen
3,"{'ABZ', 'LGW'}",95.0,ABZ,LGW,Aberdeen,London
4,"{'ACE', 'AGP'}",130.0,ACE,AGP,Lanzarote Island,MÃ¡laga
...,...,...,...,...,...,...
1511,"{'ZRH', 'OTP'}",150.0,ZRH,OTP,Zurich,Bucharest
1512,"{'ZRH', 'PRN'}",127.5,ZRH,PRN,Zurich,Prishtina
1513,"{'ZRH', 'RVN'}",205.0,ZRH,RVN,Zurich,Rovaniemi
1514,"{'ZRH', 'STR'}",45.0,ZRH,STR,Zurich,Stuttgart
1515,"{'ZTH', 'ATH'}",62.5,ZTH,ATH,Zakynthos Island,Athens

In [40]:
flights[flights['departure city'].str.contains('London')]

,route,time,departure airport,arrival airport,departure city,arrival city
38,"{'LGW', 'AGP'}",165.0,LGW,AGP,London,MÃ¡laga
82,"{'LTN', 'AMS'}",70.0,LTN,AMS,London,Amsterdam
133,"{'LGW', 'BCN'}",125.0,LGW,BCN,London,Barcelona
301,"{'LTN', 'CLJ'}",175.0,LTN,CLJ,London,Cluj-Napoca
630,"{'LGW', 'JER'}",60.0,LGW,JER,London,Saint Helier
...,...,...,...,...,...,...
1240,"{'STN', 'VRN'}",122.5,STN,VRN,London,Verona
1241,"{'STN', 'WMI'}",135.0,STN,WMI,London,Warsaw
1242,"{'STN', 'WRO'}",125.0,STN,WRO,London,WrocÅaw
1243,"{'STN', 'ZAG'}",135.0,STN,ZAG,London,Zagreb
1244,"{'STN', 'ZAZ'}",132.5,STN,ZAZ,London,Zaragoza