In [1]:
import pandas as pd

In [2]:
flights = pd.read_csv('/Users/slavicagjorgieva/Desktop/TU/WS23/DOPP/Ex2/DOPP_group18/datasets/flight_times_cleaned.csv')
trains =  pd.read_csv('/Users/slavicagjorgieva/Desktop/TU/WS23/DOPP/Ex2/DOPP_group18/datasets/train-distances3.csv')
trains

                 city1       city2  transit_distance [m]  transit_time [s]
0           Copenhagen      Madrid               2766617            116760
1           Dusseldorf      Madrid               1903205             80100
2               London      Madrid               1783116             70560
3               London      Madrid               1783116             70560
4               Nantes      Madrid                836131             55500
..                 ...         ...                   ...               ...
334         Copenhagen     Bolzano               1380287             64920
335         Dusseldorf  Copenhagen                907801             44580
336  Frankfurt am Main        Graz                849063             32520
337  Frankfurt am Main  Dusseldorf                220414              4985
338          Marseille      Nantes               1076151             46500

[339 rows x 4 columns]

In [3]:
flights

,route,time,departure airport,arrival airport,city2,city1
0,"{'ABZ', 'AMS'}",95.0,ABZ,AMS,Amsterdam,Aberdeen
1,"{'LTN', 'AMS'}",70.0,LTN,AMS,Amsterdam,Luton
2,"{'LTN', 'BCN'}",125.0,LTN,BCN,Barcelona,Luton
3,"{'LTN', 'BFS'}",75.0,LTN,BFS,Belfast,Luton
4,"{'LTN', 'EDI'}",75.0,LTN,EDI,Edinburgh,Luton
...,...,...,...,...,...,...
334,"{'MMX', 'ARN'}",70.0,MMX,ARN,Stockholm,Malmo
335,"{'MMX', 'BMA'}",80.0,MMX,BMA,Stockholm,Malmo
336,"{'STR', 'SKG'}",135.0,STR,SKG,Thessaloniki,Stuttgart
337,"{'TUF', 'STN'}",85.0,TUF,STN,London,Tours
338,"{'SKG', 'STR'}",150.0,SKG,STR,Stuttgart,Thessaloniki

In [4]:
print("Number of rows in flights:", flights.shape[0])
print("Number of rows in trains:", trains.shape[0])

Number of rows in flights: 339
Number of rows in trains: 339

In [5]:
merged_data = pd.merge(flights, trains, on=['city1', 'city2'])
print("Number of rows in merged data:", merged_data.shape[0])

Number of rows in merged data: 371

In [6]:
cleaned_data = merged_data.drop_duplicates()
print("Number of rows after removing duplicates:", cleaned_data.shape[0])
cleaned_data.info()

Number of rows after removing duplicates: 339
<class 'pandas.core.frame.DataFrame'>
Int64Index: 339 entries, 0 to 370
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   route                 339 non-null    object
 1   time                  339 non-null    float64
 2   departure airport     339 non-null    object
 3   arrival airport       339 non-null    object
 4   city2                 339 non-null    object
 5   city1                 339 non-null    object
 6   transit_distance [m]  339 non-null    int64
 7   transit_time [s]      339 non-null    int64
dtypes: float64(1), int64(2), object(5)
memory usage: 23.8+ KB

In [7]:
cleaned_data.describe()

             time  transit_distance [m]  transit_time [s]
count  339.000000          3.390000e+02        339.000000
mean   116.311209          1.347607e+06      58342.477876
std     39.266687          7.744459e+05      33066.454705
min     45.000000         -1.000000e+00         -1.000000
25%     85.000000          7.312265e+05      37987.500000
50%    115.000000          1.299474e+06      57060.000000
75%    145.000000          1.814400e+06      76590.000000
max    265.000000          3.998052e+06     179473.000000

In [8]:
filtered_data = cleaned_data[cleaned_data['transit_distance [m]'] != -1]
cleaned_df = filtered_data[filtered_data['transit_time [s]'] != -1]
cleaned_df
cleaned_df.to_csv('datasets/merged_df.csv')
cleaned_df

,route,time,departure airport,arrival airport,city2,city1,transit_distance [m],transit_time [s]
0,"{'ABZ', 'AMS'}",95.0,ABZ,AMS,Amsterdam,Aberdeen,1461789,57420
1,"{'LTN', 'AMS'}",70.0,LTN,AMS,Amsterdam,Luton,662444,38400
2,"{'LTN', 'BCN'}",125.0,LTN,BCN,Barcelona,Luton,1809360,70320
3,"{'LTN', 'BFS'}",75.0,LTN,BFS,Belfast,Luton,711723,55080
4,"{'LTN', 'EDI'}",75.0,LTN,EDI,Edinburgh,Luton,680519,18660
...,...,...,...,...,...,...,...,...
364,"{'MMX', 'ARN'}",70.0,MMX,ARN,Stockholm,Malmo,596272,16260
366,"{'MMX', 'BMA'}",80.0,MMX,BMA,Stockholm,Malmo,596272,16260
368,"{'STR', 'SKG'}",135.0,STR,SKG,Thessaloniki,Stuttgart,1886166,103800
369,"{'TUF', 'STN'}",85.0,TUF,STN,London,Tours,647600,42900
370,"{'SKG', 'STR'}",150.0,SKG,STR,Stuttgart,Thessaloniki,1929406,118860

In [9]:
filtered_data = filtered_data.rename(columns={
    'time': 'flight_time', 
    'transit_time [s]': 'train_time', 
    'transit_distance [m]': 'train_distance'
})

In [10]:
# Convert train time from seconds to minutes using .loc
filtered_data.loc[:, 'train_time'] = filtered_data['train_time'] / 60

# Display the first few rows to confirm changes
print(filtered_data.head())

            route  flight_time departure airport arrival airport      city2  \
0  {'ABZ', 'AMS'}         95.0               ABZ             AMS  Amsterdam
1  {'LTN', 'AMS'}         70.0               LTN             AMS  Amsterdam
2  {'LTN', 'BCN'}        125.0               LTN             BCN  Barcelona
3  {'LTN', 'BFS'}         75.0               LTN             BFS    Belfast
4  {'LTN', 'EDI'}         75.0               LTN             EDI  Edinburgh

      city1  train_distance  train_time
0  Aberdeen         1461789       957.0
1     Luton          662444       640.0
2     Luton         1809360      1172.0
3     Luton          711723       918.0
4     Luton          680519       311.0

In [14]:
iata_codes_country = pd.read_csv('/Users/slavicagjorgieva/Desktop/TU/WS23/DOPP/Ex2/DOPP_group18/datasets/fixed-airports-codes.csv')

In [17]:
iata_codes_country

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,NaN,US,US-PA,Bensalem,no,K00A,NaN,00A,https://www.penndot.pa.gov/TravelInPA/airports...,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,506791,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,80.0,NaN,US,US-AK,King Salmon,no,00AN,NaN,00AN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78148,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad
78149,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
78150,346788,ZZ-0003,small_airport,Fainting Goat Airport,32.110587,-97.356312,690.0,NaN,US,US-TX,Blum,no,87TX,NaN,87TX,NaN,NaN,NaN
78151,342102,ZZZW,closed,Scandium City Heliport,69.355287,-138.939310,4.0,NaN,CA,CA-YT,(Old) Scandium City,no,NaN,NaN,NaN,NaN,NaN,"ZZZW, ZZZW, ZYW, YK96"
78152,313629,ZZZZ,small_airport,Satsuma Iōjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"

In [19]:
merged_departure = pd.merge(filtered_data, iata_codes_country, left_on='departure airport', right_on='iata_code', how='left')

# Rename columns from the first merge
merged_departure.rename(columns={'latitude_deg': 'dep_latitude_deg', 'longitude_deg': 'dep_longitude_deg', 'iso_country': 'dep_iso_country'}, inplace=True)

# Drop extra columns after the first merge
columns_to_drop_first_merge = ['id', 'ident', 'type', 'name', 'elevation_ft', 'continent', 'iso_region', 'municipality', 'scheduled_service', 'gps_code', 'iata_code', 'local_code', 'home_link', 'wikipedia_link', 'keywords']
merged_departure.drop(columns_to_drop_first_merge, axis=1, inplace=True)

# Second, merge for arrival airport
merged_data = pd.merge(merged_departure, iata_codes_country, left_on='arrival airport', right_on='iata_code', how='left')

# Rename columns from the second merge
merged_data.rename(columns={'latitude_deg': 'arr_latitude_deg', 'longitude_deg': 'arr_longitude_deg', 'iso_country': 'arr_iso_country'}, inplace=True)

# Drop extra columns after the second merge
columns_to_drop_second_merge = ['id', 'ident', 'type', 'name', 'elevation_ft', 'continent', 'iso_region', 'municipality', 'scheduled_service', 'gps_code', 'iata_code', 'local_code', 'home_link', 'wikipedia_link', 'keywords']
merged_data.drop(columns_to_drop_second_merge, axis=1, inplace=True)

# Display the first few rows of the final merged dataset
print(merged_data.head())

            route  flight_time departure airport arrival airport      city2  \
0  {'ABZ', 'AMS'}         95.0               ABZ             AMS  Amsterdam
1  {'LTN', 'AMS'}         70.0               LTN             AMS  Amsterdam
2  {'LTN', 'BCN'}        125.0               LTN             BCN  Barcelona
3  {'LTN', 'BFS'}         75.0               LTN             BFS    Belfast
4  {'LTN', 'EDI'}         75.0               LTN             EDI  Edinburgh

      city1  train_distance  train_time  dep_latitude_deg  dep_longitude_deg  \
0  Aberdeen         1461789       957.0         57.201900          -2.197780
1     Luton          662444       640.0         51.874699          -0.368333
2     Luton         1809360      1172.0         51.874699          -0.368333
3     Luton          711723       918.0         51.874699          -0.368333
4     Luton          680519       311.0         51.874699          -0.368333

  dep_iso_country  arr_latitude_deg  arr_longitude_deg arr_iso_country
0              GB         52.308601           4.763890              NL
1              GB         52.308601           4.763890              NL
2              GB         41.297100           2.078460              ES
3              GB         54.657501          -6.215830              GB
4              GB         55.950145          -3.372288              GB

In [20]:
merged_data.to_csv('datasets/merged_df.csv')