## A notebook to try the OpenSky API

#### Get the airport codes

In [2]:
import pandas as pd

In [3]:
airport_codes = pd.read_csv('datasets/airport-codes.csv')

In [4]:
airport_codes

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"
...,...,...,...,...,...,...,...,...,...,...,...,...
57416,ZYYK,medium_airport,Yingkou Lanqi Airport,0.0,AS,CN,CN-21,Yingkou,ZYYK,YKH,NaN,"122.3586, 40.542524"
57417,ZYYY,medium_airport,Shenyang Dongta Airport,NaN,AS,CN,CN-21,Shenyang,ZYYY,NaN,NaN,"123.49600219726562, 41.784400939941406"
57418,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,NaN,NaN,"1.4825, 51.894444"
57419,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,NaN,NaN,"47.296388888900005, -11.584277777799999"
57420,ZZZZ,small_airport,Satsuma IÅjima Airport,338.0,AS,JP,JP-46,Mishima-Mura,RJX7,NaN,RJX7,"130.270556, 30.784722"

In [5]:
airport_codes['continent'].value_counts()

continent
SA    8443
EU    8404
AS    5619
AF    3361
OC    3123
AN      28
Name: count, dtype: int64

In [6]:
airport_codes_eu = airport_codes[airport_codes['continent'] == 'EU']
airport_codes_eu

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
10422,ABE,closed,RAF Calveley,NaN,EU,GB,GB-ENG,Cheshire,NaN,NaN,NaN,"-2.603889, 53.113333"
10423,ABL,closed,RNAS/RAF Calshot,NaN,EU,GB,GB-ENG,Hampshire,NaN,NaN,NaN,"-1.30677223206, 50.8199131549"
10426,AD-0001,heliport,CamÃ­ Heliport,NaN,EU,AD,AD-04,La Massana,NaN,NaN,NaN,"1.51916, 42.546257"
10427,AD-ALV,heliport,Andorra la Vella Heliport,3450.0,EU,AD,AD-07,Andorra La Vella,NaN,ALV,NaN,"1.533551, 42.511174"
10429,ADJ,closed,RAF Castletown,NaN,EU,GB,GB-SCT,Caithness,NaN,NaN,NaN,"-3.3481693267800003, 58.5847198881"
...,...,...,...,...,...,...,...,...,...,...,...,...
55047,XWPD,small_airport,Sosnovka Airfield,NaN,EU,RU,RU-PNZ,Penza,NaN,NaN,XWPD,"45.277, 53.261002"
55048,XWPR,medium_airport,Rtishchevo Air Base,673.0,EU,RU,RU-SAR,Rtishchevo,NaN,NaN,XWPR,"43.7241, 52.297317"
57018,ZA-0102,closed,Castle Bromwich Aerodrome/RAF Castle Bromwich,NaN,EU,GB,GB-ENG,Warwickshire,NaN,NaN,NaN,"-1.786667, 52.517222"
57096,ZBK,closed,Å½abljak Airport,4252.0,EU,ME,ME-21,Å½abljak Airport,NaN,ZBK,NaN,"19.233334, 43.116669"
57418,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,NaN,NaN,"1.4825, 51.894444"

In [7]:
airport_codes_eu[airport_codes_eu['iata_code'] == 'VIE']

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
33448,LOWW,large_airport,Vienna International Airport,600.0,EU,AT,AT-9,Vienna,LOWW,VIE,NaN,"16.569700241089, 48.110298156738"

In [8]:
airport_codes_eu['type'].value_counts()

type
small_airport     5194
heliport          1090
closed            1000
medium_airport     924
large_airport      162
seaplane_base       28
balloonport          6
Name: count, dtype: int64

In [1]:
# install once
# pip install -e opensky-api-master/python

Obtaining file:///Users/emilejohnston/DataspellProjects/DOPP_group18/opensky-api-master/python
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /opt/homebrew/lib/python3.11/site-packages (from opensky-api==1.3.0) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/homebrew/lib/python3.11/site-packages (from requests->opensky-api==1.3.0) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.11/site-packages (from requests->opensky-api==1.3.0) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/homebrew/lib/python3.11/site-packages (from requests->opensky-api==1.3.0) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.11/site-packages (from requests->opensky-api==1.3.0) (2023.7.22)
Installing collected packages: opensky-api
  Running setup.py develop for opensky-api
Successfully installed opensky-api-1.3.0

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

#### Import the API

In [1]:
from opensky_api import OpenSkyApi
api = OpenSkyApi()

In [10]:
from datetime import datetime

In [12]:
year = 2023
month = 12
day = 10
hour = 15  # 24-hour format
minute = 30
second = 0

# Create a datetime object
begin = datetime(year, month, day, hour, minute, second)
end = datetime(year, month, day+1, hour, minute, second)

begin_unix = int(begin.timestamp())
end_unix = int(end.timestamp())
print('From 10 to 11 December 2023')
print(f'Begin: {begin_unix}, End: {end_unix}')

From 10 to 11 December 2023
Begin: 1702218600, End: 1702305000

In [15]:
result = api.get_arrivals_by_airport('LOWW',begin_unix, end_unix) # LOWW is Vienna

In [17]:
print(result)

None